.App .bookProfile .bookCard {
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    width: 22vw;
    position: relative;
    left: 10%;
    float: left;
}

.App .descriptionCard {
    width: 40vw;
    text-align: left;
    border: none;
}

.App .detailsCard {
    width: 40vw;
    text-align: left;
    border: none;
}

.App .bookInfo {
    position: relative;
    right: 10%;
    float: right;
}

.authorName:hover {
    color: black;
}

.authorName {
    text-decoration: underline;
}

.App .commentList {
    text-align: left;
}

.App .commentSection {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.App .commentInput {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    text-align: left;
}