
.Fon {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-image: url("../pictures/MainView_backgound.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 200vh;
}
.RegContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 320px;
    border-radius: 15px;
    background: rgba(220,220,220,0.5);
    box-shadow: 1px 1px 50px #000;
}
.RegContainer input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 90%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.5);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.RegContainer input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.7);
}

.RegContainer h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}
.RegContainer input[type="submit"]
{
    font-family: -apple-system, sans-serif;
    width: 50%;
    display: block;
    margin: 15px auto;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 6px;
    border: 2px;
    background: #41D873;
    box-shadow: 3px 3px 10px #333;
    color: white;
}
.RegContainer input[type="submit"]:focus {
    outline: none;
    box-shadow: 3px 3px 10px #f3f3f3;
    background: #3bce16;

}

