.login {
    width: 30%;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    padding: 30px 40px 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    background-color: #fff;

    img {
        width: 45%;
        min-width: 100px;
        height: auto;
    }
    h2 {
        margin: 15px 0;
        font-size: 25px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .input-wrapper {
            margin: 0;
            padding: 0;
            flex-basis: 80%;
            margin-bottom: 40px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                border: none;
                z-index: 2;
                transition: all, .4s;
            }

            &.error-submit::after {
                width: 100%;
                border: 1px solid red;
            }

            input {
                border: none;
                border-bottom: 2px solid #adadad;
                font-size: 15px;
                color: #555;
                line-height: 1.2;
                display: block;
                width: 100%;
                height: 45px;
                background: 0 0;
                padding: 0 5px;
                outline: none;
                z-index: 1;
                position: relative;
                background-color: #fff;

                &:focus {
                    border-bottom: 2px solid #3bce16;
                }
            }

            .error-message {
                margin: 0;
                background-color: #da1616;
                color: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
                font-size: 10px;
                padding: 2px;
                transition: bottom, .4s;

                &.error-submit {
                    bottom: -18px;
                }
            }
        }

        button {
            flex-basis: 30%;
            border-radius: 25px;;
            height: 50px;
            color: #fff;
            background-color: #1b8ce9;
            font-size: 17px;
            border: none;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
            transition: background-color, .4s;
            // margin: 20px 30px;

            &:hover {
                background-color: #156db4;
            }
        }
    }
}
